<div class="login">
    <div class="login-img"></div>
    <div class="login-area">
      <header class="reg-header">
        <div class="emr-login-text">
            <div>{{'LOGIN_LOCATION_PAGE_TITLE_TEXT' | translate}}</div>
        </div>
      </header>
      <form ng-submit="updateSessionLocation()" name="loginLocationForm" bm-form autofillable="true">
        <div class="login-body">
          <div class="form-field">
            <div class="field-attribute">
              <label for="location"> {{'LOGIN_LABEL_LOCATION_KEY' | translate}} <span class="asterick">*</span> </label>
            </div>
            <div class="field-value">
              <select
                id="location"
                ng-model="loginInfo.currentLocation"
                ng-options="item as (item.display | translate) for item in locations | orderBy:'display'"
                required
              >
                <option value="">{{'LOGIN_LABEL_SELECT_LOCATION_KEY' | translate}}</option>
              </select>
            </div>
          </div>
  
          <div class="form-footer">
            <button type="submit" class="confirm">{{'LOGIN_LOCATION_SELECTION_LABEL_KEY' | translate}}</button>
          </div>
        </div>
      </form>
  
      <div class="warning-message">
        <span ng-if="warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{warning}}</span>
        <p>{{warningMessage | translate :timeZoneObject}}</p>
      </div>
  
      <div class="logos-footer">
        <img src="./../images/bahmniLogoFull.png" alt="Bahmni" />
        <img src="{{logo}}" alt="Bahmni" />
      </div>
    </div>
  </div>